<body class="center">
  
  <h1>Pixel Art</h1>
  
  <canvas class="canvas-main" data-controller="canvas"></canvas>
  
  <div class="tools">
    <h3>Colors</h3>
    <div id="color-buttons">
      <% colors = ["red", "orange", "yellow", "green", "blue", "purple", "pink", "black", "gray", "brown", "beige", "white"] %>
      
      <% colors.each do |color| %>
        <%= tag.button(
          type: "button",
          style: "background-color: #{color};",
          data: {
            controller: "color-button",
            action: "click->color-button#selectColor",
            "color-button-color-value": color
          })
        %>
      <% end %>
    
    <h3>Pixel Size</h3>
    <div id="size-buttons">
      <% sizes = {small: 8, medium: 16, large: 32} %>

      <% sizes.each do |k, size| %>
        <%= tag.button("#{k}",
          type: "button",
          data: {
            controller: "color-button",
            action: "click->color-button#selectSize",
            "color-button-size-value": size
          })
        %>
      <% end %>
    </div>
</body>

