<body class="center blank-map">
  
  <h1>Pixel Art</h1>
  
  <canvas class="canvas-main" data-controller="canvas"></canvas>
  
  <div class="colors">
    <% colors = ["red", "orange", "yellow", "green", "blue", "purple", "black", "gray", "brown", "white"] %>
    
    <% colors.each do |color| %>
      <%= tag.button(
        type: "button",
        style: "background-color: #{color};",
        data: {
          controller: "color-button",
          action: "click->color-button#selectColor",
          "color-button-color-value": color
        })
      %>
    <% end%>
  </div>
</body>

