<div class="center">
  <h1>Welcome to Hermit Challenges!</h1>

  <%= 
    tag.button(
      "Click for 12 bamboo",
      type: "button",
      data: { 
        controller: "pages", 
        action: "click->pages#displayBamboo" 
      }, 
    )
  %>

  <div id="twelveBamboo" style="display: none;">
    <% 12.times do %>
      <%= image_tag("bamboo.webp", alt: "Bamboo") %>
    <% end %>
  </div>
</div>
