<div class="item">
  <div class="ui form">
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label><%= item.item %></label>
      </div>
    </div>
  </div>
</div>
