/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 44px;
}

.center {
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background-color: azure;
}

button {
  background-color: #039a1a;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 3px 5px #B7B5B0;
}

button:hover {
  background-color: #028515;
}

button:active{
  background-color: #028515;
  box-shadow: 0 1px 3px #B7B5B0;
  transform: translateY(2px);
}