.colors {
  margin: 25px;
  padding: 10px;
  background-color: blanchedalmond;
  border-radius: 8px;
}

.canvas-main {
  margin: 20px;
  position: relative;
}

.blank-map {
  background-color: azure;
  background-image: url('/assets/blankmap-5fe6e546.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 555px 555px;
}