@font-face {
  font-family: "BlockCraft";
  src: url("BlockCraft.otf");
}

@font-face {
  font-family: "Minecraft";
  src: url("MinecraftEvenings.otf");
}

@font-face {
  font-family: "Chomsky";
  src: url("Chomsky.otf");
}
