.challenges-container {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 0 5px 7px rgb(167, 166, 166);
    padding: 5px;
    margin: auto;
    width: 80%;
}

.challenges-heading {
    font-size: 24px;
    border-bottom: green 2px solid;
    padding: 15px;
    width: 80%;
    margin: auto;
}

#twelveBamboo {
    width: 90%;
    margin: auto;
    padding: 10px;
}
