.hermit-container {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}

.hermit-title {
    font-family: 'Minecraft';
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.hermit-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hermit-button:hover {
    background-color: darkgreen;
}

.hermit-bamboo-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    visibility: hidden;
    height: 100px;
}
