<div class="ui container">
  <div class="ui grid">
    <div class="ui four wide column">

      <h2 class="ui center aligned medium icon header">
        <i class="circular list icon"></i>
        List
      </h2>

      <div class="ui segment">
        <div class="ui relaxed divided list" id="todo-list">
          <%= render @items %>
        </div>
      </div>

      <div class="ui container">
        <%= form_with model: @item, url: items_path, html: { class: "ui form", role: "form" } do |f| %>
          <div class="field">
            <%= f.text_field :item, placeholder: "Add an item" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>